.btn {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: $line-height;

    &--border {
        color: white;
        border: 2px solid white;
        padding: 14px 36px;
        transition: color $transition, border-color $transition;

        &:hover {
            color: $color-yellow;
            border-color: $color-yellow;
        }
    }

    &--yellow {
        background: $color-yellow;
        color: #000;
        border-radius: 43px;
        padding: 18px 33px;
        transition: background $transition;

        &:hover {
            background: rgba(227, 183, 72, 0.8);
        }
    }

    &--form {
        padding: 16px;
        font-family: 'Helvetica Now Display', sans-serif;
        color: #000;
        font-weight: 700;
        line-height: 1.3em;
        background: $color-yellow;
        transition: background $transition;

        &:hover {
            background: rgba(227, 183, 72, 0.8);
        }
    }
}