.choose-us-card {
    padding: 28px 24px;
    border-radius: 14px;
    border: 1.4px solid rgba(255, 255, 255, 0.10);
    background: #1D1D1D;
    transition: background $transition;

    @media screen and (max-width: 768px) {
        padding: 20px;
    }

    &:hover {
        background: #2E2E2E;
    }

    &.quotes {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 62px;
            height: 46px;
            right: 40px;
            top: 28px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='46' viewBox='0 0 63 46' fill='none'%3E%3Cpath opacity='0.03' d='M59 22.9999V10.0799C59 7.95171 59.0004 6.88774 58.5722 6.07488C58.1956 5.35986 57.5938 4.77849 56.8546 4.41418C56.0142 4 54.9149 4 52.7147 4H45.6432C43.443 4 42.3421 4 41.5017 4.41417C40.7625 4.77849 40.162 5.35986 39.7853 6.07488C39.3571 6.88774 39.3571 7.95171 39.3571 10.0799V16.9199C39.3571 19.0481 39.3571 20.1124 39.7853 20.9253C40.162 21.6403 40.7625 22.2214 41.5017 22.5858C42.3421 22.9999 43.443 23 45.6432 23L59 22.9999ZM59 22.9999V30.6C59 36.896 53.7234 42 47.2143 42M23.6429 22.9999V10.0799C23.6429 7.95171 23.6433 6.88774 23.2151 6.07488C22.8384 5.35986 22.2366 4.77849 21.4974 4.41418C20.6571 4 19.5577 4 17.3575 4H10.2861C8.08589 4 6.98497 4 6.1446 4.41417C5.40539 4.77849 4.80483 5.35986 4.42819 6.07488C4 6.88774 4 7.95171 4 10.0799V16.9199C4 19.0481 4 20.1124 4.42819 20.9253C4.80483 21.6403 5.40539 22.2214 6.1446 22.5858C6.98497 22.9999 8.0859 23 10.2861 23L23.6429 22.9999ZM23.6429 22.9999L23.6429 30.6C23.6429 36.896 18.3662 42 11.8571 42' stroke='white' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity $transition;

            @media screen and (max-width: 992px) {
                right: 24px;
                top: 24px;
            }
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }

    &__img {
        width: 101px;
        height: 101px;
        margin-bottom: 28px;
    }

    &__picture {
        border-radius: 50%;
        overflow: hidden;
    }

    &__title {
        
        + .choose-us-card__text {
            margin-top: 26px;
        }

        + .choose-us-card__sub-title {
            margin-top: 10px;
        }
    }

    &__sub-title {
        font-weight: 400;
        margin-bottom: 22px;
    }

    &__text {
        font-weight: 500;
        color: rgba(255, 255, 255, 0.3);
        margin-bottom: 22px;
    }

    &__btn {
        margin-top: auto;
    }
}