<div class="choose-us-card flex --dir-col @@class @@if (quotes === true) {quotes}">
    <div class="choose-us-card__img flex">
        @@if (svg != '') {
            @@include('../bem-blocks/_sprite.html', {
                'class': 'bonus',
                'id': 'sprite--bonus',
            })
        }
        @@if (img != '') {
            <picture class="choose-us-card__picture flex">
                <source srcset="../../img/@@img.webp" media="">
                <img src="../../img/@@img.png" alt="">
            </picture>
        }
    </div>
    <div class="choose-us-card__title h4">@@title</div>
    @@if (subTitle != '') {
        <div class="choose-us-card__sub-title">@@subTitle</div>
    }
    <div class="choose-us-card__text">@@text</div>
    @@if (btn != '') {
        <div class="choose-us-card__btn">
            @@include('../bem-blocks/_button-link.html', {
                'class': 'btn--yellow',
                'text': 'Read More',
            })
        </div>
    }
</div>