<div class="faq-card @@class">
    <div class="faq-card__top flex --align-center --just-space">
        <div class="faq-card__title h4">@@title</div>
        <div class="faq-card__btn"></div>
    </div>
    <div class="faq-card__info">@@text</div>
</div>