.faq-card {

    &.open {

        .faq-card__btn {

            &::before {
                transform: rotate(0deg);
            }
        }

        .faq-card__info {
            height: auto;
            margin-top: 40px;
            opacity: 1;
            transition-property: opacity,height,margin;
            transition-duration: .2s;
            transition-timing-function: ease;
            transition-delay: .2s, 0s, 0s;
        }
    }

    &:not(:last-child) {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 28px;
        height: 28px;
        margin-left: 10px;
        border-radius: 50%;
        background: $color-yellow;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 9px;
            height: 2px;
            background: #000;
            transition: transform $transition;
        }

        &::before {
            transform: rotate(90deg);
        }
    }

    &__info {
        color: rgba(255, 255, 255, 0.3);
        margin-top: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition-property: opacity,height,margin;
        transition-duration: .2s;
        transition-timing-function: ease;
        transition-delay: 0s, .2s, .2s;
    }
}