.practices-card {
    position: relative;
    align-items: flex-end;
    height: 342px;
    border-radius: 14px;
    overflow: hidden;

    @media screen and (max-width: 992px) {
        height: 300px;
    }

    @media screen and (max-width: 576px) {
        height: 280px;
    }

    &__picture {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            object-fit: cover;
            object-position: center;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 83.33%, rgba(0, 0, 0, 0.70) 100%);
        }
    }

    &__title {
        position: relative;
        padding: 40px;
        z-index: 2;
        text-transform: uppercase;

        @media screen and (max-width: 992px) {
            padding: 40px 20px;
        }
    }
}