<div class="practices-card flex --just-center @@class">
    <picture class="practices-card__picture">
        <source srcset="../../img/@@img.webp" media="">
        <img src="../../img/@@img.png" alt="">
    </picture>
    <div class="practices-card__title h4">@@title</div>
</div>