.team-card {
    border-radius: 14px;
    padding: 16px 26px 23px;
    transition: background $transition;

    &:hover {
        background: $color-yellow;

        .team-card__name {
            color: $color-grey;
        }

        .team-card__text {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &__picture {
        flex: 0 0 auto;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        margin-right: 22px;
        overflow: hidden;
    }

    &__name {
        margin-bottom: 6px;
        transition: color $transition;
    }

    &__text {
        color: rgba(255, 255, 255, 0.3);
        transition: color $transition;
    }
}