<div class="team-card flex --align-center @@class">
    <picture class="team-card__picture flex">
        <source srcset="../../img/@@img.webp" media="">
        <img src="../../img/@@img.png" alt="">
    </picture>
    <div class="team-card__wrap">
        <div class="team-card__name h4">@@title</div>
        <div class="team-card__text">@@text</div>
    </div>
</div>