@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Helvetica Now Display';
	src: url(../../fonts/HelveticaNowDisplay-Medium.woff2) format('woff2'), url(../../fonts/HelveticaNowDisplay-Medium.woff) format('woff');
	font-weight: 500;
  }
  
  @font-face {
	font-family: 'Helvetica Now Display';
	src: url(../../fonts/HelveticaNowDisplay-RegIta.woff2) format('woff2'), url(../../fonts/HelveticaNowDisplay-RegIta.woff) format('woff');
	font-style: italic;
	font-weight: 400;
  }


*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: $line-height;
	color: white;
	background: #1D1D1D;
	min-height: 100%;
	position: relative;
}

body {
	width: 100%;
    height: auto;
    min-height: 100vh;
	font-size: 1rem;
}

header,
main,
footer {
	width: 100%;
}

footer {
	margin-top: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	width: 100%;
	height: 100%;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: calc(100% - 40px);
	max-width: 1140px;
	padding: 0 20px;
	margin: auto;
	box-sizing: content-box;

	@media screen and (max-width: 576px) {
		width: calc(100% - 20px);
		padding: 0 10px;
	}
}

.pt-container {
	padding-top: 85px;

	@media screen and (max-width: 992px) {
		padding-top: 60px;
	}
}

.pb-container {
	padding-bottom: 85px;

	@media screen and (max-width: 992px) {
		padding-bottom: 60px;
	}
}

.--text-center {
	text-align: center;
}

.h1,
h1 {
	font-size: 66px;
	font-weight: 500;
	line-height: 1.4em;

	@media screen and (max-width: 992px) {
		font-size: 50px;
	}

	@media screen and (max-width: 576px) {
		font-size: 40px;
	}

	&.bold,
	.bold {
		font-weight: 700;
	}
}

.h2,
h2 {
	font-size: 54px;
	font-weight: 600;
	line-height: 1.6em;

	@media screen and (max-width: 992px) {
		font-size: 44px;
	}

	@media screen and (max-width: 576px) {
		font-size: 30px;
	}
}

.h3,
h3 {
	font-size: 32px;
	font-weight: 600;
	line-height: 1.6em;

	@media screen and (max-width: 992px) {
		font-size: 26px;
	}
}

.h4,
h4 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1em;

	@media screen and (max-width: 992px) {
		font-size: 20px;
	}
	
	&.uppercase,
	.uppercase {
		text-transform: uppercase;
	}
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: $color-black;
}

::-webkit-scrollbar-thumb {
    background: $color-yellow;
    border-radius: 4px;
}