<section class="choose-us pt-container pb-container">
    <div class="container">
        <h2 class="choose-us__title h2 --text-center">Why Choose us?</h2>
        <div class="choose-us__cards choose-us-cards flex">
            @@include('../bem-blocks/_choose-us-card.html', {
                'class': 'choose-us-cards__item',
                'quotes': false,
                'svg': true,
                'img': false,
                'title': '98% Success Rate',
                'subTitle': '',
                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                'btn': true,
            })
            @@include('../bem-blocks/_choose-us-card.html', {
                'class': 'choose-us-cards__item',
                'quotes': false,
                'svg': true,
                'img': false,
                'title': '100% Success Rate',
                'subTitle': '',
                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                'btn': true,
            })
            @@include('../bem-blocks/_choose-us-card.html', {
                'class': 'choose-us-cards__item',
                'quotes': false,
                'svg': true,
                'img': false,
                'title': '100% Success Rate',
                'subTitle': '',
                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                'btn': true,
            })
        </div>
    </div>
</section>