.choose-us {

    &__title {
        margin-bottom: 100px;

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
}

.choose-us-cards {
    align-items: stretch;
    margin-top: -20px;
    margin-left: -30px;

    @media screen and (max-width: 992px) {
        margin-left: -16px;
	}

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    &__item {
        width: calc(100% / 3 - 30px);
        margin-top: 20px;
        margin-left: 30px;

        @media screen and (max-width: 992px) {
            width: calc(100% / 3 - 16px);
            margin-left: 16px;
        }

        @media screen and (max-width: 768px) {
            width: calc(100% - 16px);
        }
    }
}