.clients {

    &__top {
        margin-bottom: 100px;
        position: relative;

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }

    &__title {
        width: calc(100% - 200px);
        margin-right: 20px;

        @media screen and (max-width: 992px) {
            width: calc(100% - 100px);
        }
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-slide {
        height: auto;
    }

    .choose-us-card {
        height: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 90px;
        height: 90px;
        top: auto;
        bottom: 0;
        border-radius: 50%;
        background-color: white;
        transition: background $transition;

        @media screen and (max-width: 992px) {
            width: 40px;
            height: 40px;
        }

        &:hover {
            background-color: $color-yellow;
        }

        &::after {
            content: '';
            width: 40px;
            height: 40px;
            background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.1317 20.6464C32.7392 20.6464 33.2317 20.1539 33.2317 19.5464C33.2317 18.9388 32.7392 18.4464 32.1317 18.4464L32.1317 20.6464ZM6.47903 18.4464C5.87151 18.4464 5.37903 18.9388 5.37903 19.5464C5.37903 20.1539 5.87151 20.6464 6.47903 20.6464L6.47903 18.4464ZM12.1179 28.3441C12.5493 28.7718 13.2458 28.7686 13.6735 28.3372C14.1011 27.9057 14.098 27.2092 13.6665 26.7815L12.1179 28.3441ZM10.0656 24.7614L10.84 23.9801L10.0656 24.7614ZM10.0656 14.3314L10.84 15.1126L10.0656 14.3314ZM13.6665 12.3112C14.098 11.8835 14.1011 11.1871 13.6735 10.7556C13.2458 10.3241 12.5493 10.321 12.1179 10.7486L13.6665 12.3112ZM6.51092 20.0487L5.41974 20.1878L5.41974 20.1878L6.51092 20.0487ZM6.51092 19.044L5.41975 18.9049L5.41975 18.9049L6.51092 19.044ZM32.1317 18.4464L6.47903 18.4464L6.47903 20.6464L32.1317 20.6464L32.1317 18.4464ZM13.6665 26.7815L10.84 23.9801L9.2913 25.5427L12.1179 28.3441L13.6665 26.7815ZM10.84 15.1126L13.6665 12.3112L12.1179 10.7486L9.2913 13.5501L10.84 15.1126ZM10.84 23.9801C9.69455 22.8448 8.90267 22.0576 8.36572 21.389C7.84271 20.7378 7.65268 20.3066 7.60209 19.9096L5.41974 20.1878C5.54269 21.1524 6.00297 21.9604 6.6504 22.7666C7.28389 23.5554 8.18261 24.4438 9.2913 25.5427L10.84 23.9801ZM9.2913 13.5501C8.18261 14.6489 7.28389 15.5373 6.6504 16.3261C6.00297 17.1323 5.54269 17.9403 5.41975 18.9049L7.60209 19.1831C7.65268 18.7862 7.84271 18.3549 8.36572 17.7037C8.90267 17.0351 9.69455 16.2479 10.84 15.1126L9.2913 13.5501ZM7.60209 19.9096C7.57134 19.6684 7.57134 19.4243 7.60209 19.1831L5.41975 18.9049C5.36546 19.3308 5.36545 19.7619 5.41974 20.1878L7.60209 19.9096Z' fill='%23373737'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media screen and (max-width: 992px) {
                width: 30px;
            }
        }
    }

    .swiper-button-prev {
        left: auto;
        right: 110px;

        @media screen and (max-width: 992px) {
            right: 50px;
        }
    }

    .swiper-button-next {
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
}