<section class="clients pt-container pb-container">
    <div class="container">
        <div class="clients__wrap">
            <div class="clients__top flex">
                <h2 class="clients__title h2">What says our <br>happy Clients</h2>
                <div class="clients__btns">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            
            <div class="clients__cards">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(2)',
                                'title': 'Jane Cooper',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(3)',
                                'title': 'Devon Lane',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(1)',
                                'title': 'Robert Fox',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(2)',
                                'title': 'Jane Cooper',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(3)',
                                'title': 'Devon Lane',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                        <div class="swiper-slide">
                            @@include('../bem-blocks/_choose-us-card.html', {
                                'class': '',
                                'quotes': true,
                                'svg': false,
                                'img': 'clients(1)',
                                'title': 'Robert Fox',
                                'subTitle': 'Ceo of Hunt',
                                'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                                'btn': false,
                            })
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>