.faq {

    &__wrap {
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__title {
        margin-bottom: 14px;
    }

    &__info {
        width: 50%;
        padding-right: 40px;
        font-size: 18px;
        font-weight: 500;
        line-height: $line-height;
        color: rgba(255, 255, 255, 0.3);

        @media screen and (max-width: 992px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 40px;
        }
    }

    &__cards {
        width: 50%;

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}

.faq-cards {

}