<section class="faq pt-container pb-container">
    <div class="container">
        <h2 class="faq__title h2">FAQ</h2>
        <div class="faq__wrap flex">
            <div class="faq__info">
                <p>Amet minim mollit non deserunt ullamco est sit <br>aliqua dolor do amet sint. </p>
            </div>
            <div class="faq__cards faq-cards">
                @@include('../bem-blocks/_faq-card.html', {
                    'class': 'faq-cards__item',
                    'title': 'Do I need a personal injury report?',
                    'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                })
                @@include('../bem-blocks/_faq-card.html', {
                    'class': 'faq-cards__item',
                    'title': 'How much is my case worth?',
                    'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                })
                @@include('../bem-blocks/_faq-card.html', {
                    'class': 'faq-cards__item',
                    'title': 'What should I do right after car accidect',
                    'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                })
                @@include('../bem-blocks/_faq-card.html', {
                    'class': 'faq-cards__item',
                    'title': 'How much is my case worth?',
                    'text': 'Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.',
                })
            </div>
        </div>
    </div>
</section>