<footer class="footer">
    <div class="container">
        <div class="footer__top flex --align-center --just-space">
            <a href="#top" class="footer__logo logo flex">
                @@include('../bem-blocks/_sprite.html', {
                    'class': 'logo__svg',
                    'id': 'sprite--logo',
                })
            </a>
            <div class="footer__menu">
                <div class="menu flex">
                    <div class="menu__link">
                        <a href="#top">Home</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">Attorneys</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">Practice Areas</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">About Us</a>
                    </div>
                </div>
            </div>
            <div class="footer__soclink flex --align-center">
                <a href="#" class="footer__soclink-item flex">
                    @@include('../bem-blocks/_sprite.html', {
                        'class': 'soclink-svg soclink-svg--inst',
                        'id': 'sprite--inst',
                    })
                </a>
                <a href="#" class="footer__soclink-item flex">
                    @@include('../bem-blocks/_sprite.html', {
                        'class': 'soclink-svg soclink-svg--fb',
                        'id': 'sprite--fb',
                    })
                </a>
                <a href="#" class="footer__soclink-item flex">
                    @@include('../bem-blocks/_sprite.html', {
                        'class': 'soclink-svg soclink-svg--twit',
                        'id': 'sprite--twit',
                    })
                </a>
                <a href="#" class="footer__soclink-item flex">
                    @@include('../bem-blocks/_sprite.html', {
                        'class': 'soclink-svg soclink-svg--pint',
                        'id': 'sprite--pint',
                    })
                </a>
            </div>
        </div>
        <div class="footer__info flex --align-center --just-center">
            <div class="footer__info-item">© 2020 Acme. All right reserved.</div>
            <a href="#" class="footer__info-item">Privacy Policy</a>
            <a href="#" class="footer__info-item">Terms of Service</a>
        </div>
    </div>
</footer>
