.footer {
    padding: 120px 0 100px;
    background: #171717;

    @media screen and (max-width: 992px) {
        padding: 80px 0;
    }

    &__top {

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__logo {
        @media screen and (max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &__menu {
        @media screen and (max-width: 992px) {
            margin-bottom: 30px;
        }

        .menu {
            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: center;
            }

            &__link {
    
                &:not(:last-child) {
                    margin-right: 80px;
        
                    @media screen and (max-width: 1400px) {
                        margin-right: 40px;
                    }

                    @media screen and (max-width: 576px) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    &__soclink-item {
        width: 30px;
        height: 30px;
        transition: opacity $transition;

        &:hover {
            opacity: .6;
        }

        &:not(:last-child) {
            margin-right: 22px;
        }
    }

    &__info {
        margin-top: 100px;

        @media screen and (max-width: 992px) {
            margin-top: 60px;
        }
    }

    &__info {
        font-weight: 400;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__info-item {
        &:not(:last-child) {
            margin-right: 20px;

            @media screen and (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}