.form {
    padding-bottom: 242px;

    @media screen and (max-width: 992px) {
        padding-bottom: 100px;
    }

    &__wrap {
        background: rgba(71, 71, 71, 0.50);
        padding: 93px;

        @media screen and (max-width: 992px) {
            padding: 60px 40px;
        }

        @media screen and (max-width: 576px) {
            padding: 40px 20px;
        }
    }

    &__title {
        font-family: 'Helvetica Now Display', sans-serif;
        margin-bottom: 42px;

        @media screen and (max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &__form {
        align-items: stretch;

        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        *:first-child {
            border-radius: 8px 0px 0px 8px;

            @media screen and (max-width: 576px) {
                border-radius: 8px 8px 0 0;
            }
        }

        *:last-child {
            border-radius: 0px 8px 8px 0px;

            @media screen and (max-width: 576px) {
                border-radius: 0 0 8px 8px;
            }
        }

        *:not(:last-child) {
            margin-right: 9px;

            @media screen and (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }

    &__input {
        flex: 0 0 auto;
        max-width: 270px;
        width: calc(50% - (116px / 2));
        background: #E4E4E4;
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3em;
        color: $color-grey;
        outline: none;
        padding: 16px;

        @media screen and (max-width: 576px) {
            flex: 0 0 100%;
            max-width: none;
            width: 100%;
        }

        &::placeholder {
            font-family: 'Helvetica Now Display', sans-serif;
            font-style: italic;
        }
    }

    .btn {
        width: 116px;

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }
}