<section class="form pt-container">
    <div class="container">
        <div class="form__wrap flex --dir-col --align-center">
            <h2 class="form__title h2 --text-center">Subscribe Our Newsletter</h2>
            <form class="form__form flex --just-center">
                <input type="text" class="form__input" placeholder="Name : ">
                <input type="email" class="form__input" placeholder="Enter your Email">
                <div class="form__btn flex">
                    @@include('../bem-blocks/_button-link.html', {
                        'class': 'btn--form',
                        'text': 'SEND',
                    })
                </div>
            </form>
        </div>
    </div>
</section>