<header class="header">
    <div class="container">
        <div class="header__wrap flex --align-center --just-space">
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="#top" class="header__logo logo flex">
                @@include('../bem-blocks/_sprite.html', {
                    'class': 'logo__svg',
                    'id': 'sprite--logo',
                })
            </a>
            <div class="header__menu">
                <div class="menu flex">
                    <div class="menu__link">
                        <a href="#top">Home</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">Attorneys</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">Practice Areas</a>
                    </div>
                    <div class="menu__link">
                        <a href="#">About Us</a>
                    </div>
                </div>
            </div>
            <div class="header__btn flex">
                @@include('../bem-blocks/_button-link.html', {
                    'href': '#',
                    'class': 'btn--border',
                    'text': 'Contact Now',
                })
            </div>
        </div>
    </div>
</header>
