.header {
    position: relative;
    background: #111;
    padding-top: 50px;

    @media screen and (max-width: 992px) {
        padding-top: 20px;
    }

    &__burger {
        position: relative;
        flex: 0 0 30px;
        margin-right: 10px;
        width: 30px;
        height: 24px;
        display: none;
        transition: .5s ease-in-out;
        cursor: pointer;

        @media screen and (max-width: 992px) {
            display: flex;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: white;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: calc(50% - 1px);
            }

            &:nth-child(3) {
                top: calc(100% - 2px);
            }
        }

        &.open {

            span {

                &:nth-child(1) {
                    top: calc(50% - 2px);
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    left: -24px;
                }

                &:nth-child(3) {
                    top: calc(50% - 2px);
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__menu {
        left: 0;
        right: 0;
        top: 100%;

        @media screen and (max-width: 992px) {
            position: absolute;
            background: #111;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            padding: 20px;

            height: 0;
            padding: 0 20px;
            opacity: 0;
            overflow: hidden;
            transition-property: opacity, height, padding, border-bottom;
            transition-duration: .2s;
            transition-timing-function: ease;
            transition-delay: 0s, .2s, .2s, .2s;
        }

        @media screen and (max-width: 576px) {
            padding: 20px 10px;
        }

        .menu {
            @media screen and (max-width: 992px) {
                flex-direction: column;
            }

            &__link {
                &:not(:last-child) {
                    @media screen and (max-width: 992px) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        &.open {
            height: auto;
            padding: 20px;
            opacity: 1;
            transition-property: opacity, height, padding, border-bottom;
            transition-duration: .2s;
            transition-timing-function: ease;
            transition-delay: .2s, 0s, 0s, .2s;
        }
    }

    .logo {
        margin-right: 10px;

        @media screen and (max-width: 576px) {
            max-width: 100px;
        }
    }

    .btn--border {

        @media screen and (max-width: 576px) {
            font-size: 14px;
            padding: 10px;
        }
    }
}

.logo {
    max-width: 143px;
    height: 30px;
}

.menu {

    &__link {
        font-weight: 600;
        transition: color $transition;

        &:hover {
            color: $color-yellow;
        }

        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}