.introduce {
    padding-top: 170px;

    @media screen and (max-width: 992px) {
		padding-top: 120px;
	}

    &__wrap {
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__title {
        width: calc(50% - 90px);

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__line {
        width: 1px;
        height: 206px;
        background: #6A6A6A;
        margin: 0 50px;

        @media screen and (max-width: 992px) {
            height: 1px;
            width: 100%;
            margin: 30px 0;
        }
    }

    &__info {
        width: calc(50% - 90px);

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__sub-title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: $line-height;
        color: rgba(255, 255, 255, 0.3);
    }
}