<section class="introduce pb-container">
    <div class="container">
        <div class="introduce__wrap flex --align-center --just-space">
            <h2 class="introduce__title h2">Let’s Introduce Ourself</h2>
            <div class="introduce__line"></div>
            <div class="introduce__info">
                <div class="introduce__sub-title h3">Criminal Lawyer</div>
                <div class="introduce__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exercitation.</div>
            </div>
        </div>
    </div>
</section>