<section class="practices pb-container pt-container">
    <div class="container">
        <h2 class="practices__title h2 --text-center">Area of Practices</h2>
        <div class="practices__wrap practices-cards flex">
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item practices-cards__item--big',
                'title': 'BUSINESS LAW',
                'img': 'item(3)',
            })
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item',
                'title': 'Partnership LAW',
                'img': 'item(2)',
            })
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item',
                'title': 'REAL ESTATE LAW',
                'img': 'item(4)',
            })
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item practices-cards__item--big',
                'title': 'BUSINESS LAW',
                'img': 'item(5)',
            })
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item practices-cards__item--big',
                'title': 'LANDLORD DISPUTES',
                'img': 'item(1)',
            })
            @@include('../bem-blocks/_practices-card.html', {
                'class': 'practices-cards__item',
                'title': 'ELDER ABUSE',
                'img': 'item(6)',
            })
        </div>
    </div>
</section>