.practices {

    &__title {
        margin-bottom: 66px;

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
}

.practices-cards {
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    @media screen and (max-width: 992px) {
        margin-top: -20px;
        margin-left: -20px;
    }

    &__item {
        width: calc(100% / 3 - 30px);
        margin-top: 30px;
        margin-left: 30px;

        @media screen and (max-width: 992px) {
            width: calc(100% / 2 - 20px);
            margin-top: 20px;
            margin-left: 20px;
        }

        @media screen and (max-width: 576px) {
            width: calc(100% - 20px);
        }

        &--big {
            width: calc((100% / 3) * 2 - 30px);

            @media screen and (max-width: 992px) {
                width: calc(100% / 2 - 20px);
            }

            @media screen and (max-width: 576px) {
                width: calc(100% - 20px);
            }
        }
    }
}