.team {
    
    &__title {
        margin-bottom: 100px;

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
}

.team-cards {
    flex-wrap: wrap;
    margin-top: -44px;
    margin-left: -80px;

    @media screen and (max-width: 992px) {
		margin-top: -40px;
        margin-left: -40px;
	}

    @media screen and (max-width: 576px) {
        margin-top: -16px;
    }

    &__item {
        width: calc(100% / 3 - 80px);
        margin-top: 44px;
        margin-left: 80px;

        @media screen and (max-width: 992px) {
            width: calc(100% / 2 - 40px);
            margin-top: 40px;
            margin-left: 40px;
        }

        @media screen and (max-width: 576px) {
            width: calc(100% - 40px);
            margin-top: 16px;
        }
    }
}