<section class="team pb-container pt-container">
    <div class="container">
        <h2 class="team__title h2 --text-center">Our Team</h2>
        <div class="team__wrap team-cards flex">
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(1)',
                'title': 'Danial Def',
                'text': '301 Cases',
            })
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(2)',
                'title': 'Sanfole',
                'text': '850 Cases',
            })
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(5)',
                'title': 'Cesforila',
                'text': '470 Cases',
            })
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(3)',
                'title': 'Colleen',
                'text': '180 Cases',
            })
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(4)',
                'title': 'Haldone',
                'text': '212 Cases',
            })
            @@include('../bem-blocks/_team-card.html', {
                'class': 'team-cards__item',
                'img': 'team(6)',
                'title': 'Nik Jeo',
                'text': '350 Cases',
            })
        </div>
    </div>
</section>