.top {
    padding-top: 70px;
    padding-bottom: 170px;
    background: #111;

    @media screen and (max-width: 992px) {
		padding-bottom: 120px;
	}

    &__wrap {
        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        max-width: 571px;

        @media screen and (max-width: 992px) {
            max-width: none;
        }
    }

    &__title {
        margin-bottom: 36px;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: $line-height;
        color: rgba(255, 255, 255, 0.3);
        margin-bottom: 36px;
    }

    &__picture {
        margin-left: 50px;

        @media screen and (max-width: 992px) {
            width: 280px;
            margin-left: 0;
            margin-bottom: 40px;
        }
    }
}

.top-input {
    padding: 6px;
    border-radius: 43px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    &__box {
        flex-direction: row-reverse;
        padding: 20px;

        @media screen and (max-width: 576px) {
            padding: 10px;
        }
    }

    &__svg {
        width: 22px;
        height: 22px;
        margin-right: 12px;

        .input-svg {
            color: #545454;
            transition: color $transition;
        }
    }

    &__input {
        width: 100%;
        border: none;
        background: transparent;
        font-size: 16px;
        font-weight: 500;
        color: white;
        outline: none;

        &::placeholder {
            color: #545454;
        }

        &:focus,
        &:focus-visible,
		&:not(:placeholder-shown) {
            
            & + .top-input__svg .input-svg {
                color: white;
            }
        }
    }

    &__btn {
        flex: 0 0 auto;

        .btn {
            @media screen and (max-width: 576px) {
                padding: 18px 25px;
            }
        }
    }
}