<section id="top" class="top">
    <div class="container">
        <div class="top__wrap flex --just-space --align-center">
            <div class="top__info flex --dir-col">
                <h1 class="top__title h1">You don’t have to <br><span class="bold">Fight them Alone.</span></h1>
                <div class="top__text">Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, curabitur sodales conubia ut inceptos faucibus himenaeos tortor eget, hac massa gravida arcu interdum proin curae.</div>
                <form class="top__form">
                    <div class="top-input flex --align-center">
                        <label class="top-input__box flex --align-center">
                            <input type="email" class="top-input__input" placeholder="Enter your eamil address">
                            <span class="top-input__svg">
                                @@include('../bem-blocks/_sprite.html', {
                                    'class': 'input-svg',
                                    'id': 'sprite--input',
                                })
                            </span>
                        </label>
                        <div class="top-input__btn flex">
                            @@include('../bem-blocks/_button-link.html', {
                                'class': 'btn--yellow',
                                'text': 'Let’s Talk',
                            })
                        </div>
                    </div>
                </form>
            </div>
            <picture class="top__picture">
                <source srcset="../../img/top-img.webp" media="">
                <img src="../../img/top-img.png" alt="">
            </picture>
        </div>
    </div>
</section>